.blockAnimation {
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 0s;
}

.textAnimation {
  animation: mainFadeIn 2s forwards;
  animation-delay: 1s;
}

.blockAnimation2 {
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
}

.textAnimation2 {
  animation: mainFadeIn 2s forwards;
  animation-delay: 3s;
}

.blockAnimation3 {
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 4s;
}

.textAnimation3 {
  animation: mainFadeIn 2s forwards;
  animation-delay: 5s;
  font-size: 1.7vw;
  color: gray;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: -5rem;
  }
  50% {
    width: calc(5rem + 100%);
    left: -5rem;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@media (max-width: 700px) {
  @keyframes mainBlock {
    0% {
      width: 0%;
      left: -20%;
    }
    50% {
      width: 120vw;
      left: -20%;
    }
    100% {
      width: 0;
      left: 120vw;
    }
  }

  .textAnimation3 {
    font-size: 20px !important;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rubberband {
  0% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }
  55% {
    transform: scaleX(0.85) scaleY(1);
  }
  65% {
    transform: scaleX(1.09) scaleY(0.85);
    color: #ccff00;
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.05) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
    color: white;
  }
}
