@import '/src/variables.scss';

.letter {
  font-size: 5vw;
  font-weight: 400;
  opacity: 0;
  z-index: 2;
}

.spec {
  color: $main;
}

.title {
  position: relative;
  height: 100%;
  width: 35%;

  .block {
    width: 0%;
    height: inherit;
    background: $main;
    position: absolute;
    display: flex;
    z-index: 3;
  }
}
