@import '/src/variables.scss';

.contact {
  background-color: $main;
  color: black;
  position: fixed;
  right: 0;
  padding: 20px;
  top: 50%;
  transform: rotate(-90deg) translate(100%, 0);
  transform-origin: bottom right;
  transition: all 200ms ease;

  &:active,
  &:hover {
    background-color: $background;
    color: $main;
  }
}

@media (max-width: 1300px) {
  .contact {
    top: 90svh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 200px;
  }
}
