@import '/src/variables.scss';

.contact {
  background-color: $main;
  color: black;
  position: fixed;
  right: 0;
  padding: 20px;
  top: 50%;
  transform: rotate(-90deg) translate(100%, 0);
  transform-origin: bottom right;
  transition: all 200ms ease;

  &:active {
    background-color: $background;
    color: $main;
  }
}
