@import '/src/variables.scss';

.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease;

  .secondary {
    font-size: 12px;
  }

  &:nth-child(1) {
    grid-area: jeden;
  }
  &:nth-child(2) {
    grid-area: dwa;
  }
  &:nth-child(3) {
    grid-area: trzy;
  }
  &:nth-child(4) {
    grid-area: cztery;
  }
  &:nth-child(5) {
    grid-area: piec;
  }

  .background {
    position: absolute;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    height: 100%;
    width: 100%;
    z-index: 1;
    &:hover {
      filter: blur(0);
    }
  }

  &:hover {
    .linksWrapper {
      opacity: 1;
    }
  }

  .linksWrapper {
    z-index: 3;
    text-align: center;
    width: 100%;
    opacity: 0;

    .link {
      &:hover {
        background-color: $main;
        color: black;
        cursor: pointer;
      }
    }

    a {
      display: block;
      width: 100%;
      text-decoration: none;
    }
    p {
      background-color: black;
      color: $main;
      padding: 10px 20px;
      transition: all 200ms ease;
    }
  }
  .secondary {
    background-color: black;
    color: $main;
    padding: 10px 20px;
  }
}

@media (max-width: $md-screen) {
  .wrapper {
    width: 50vw;
    a {
      text-align: center;
      width: 100%;
      filter: blur(0);
    }

    .linksWrapper {
      opacity: 1 !important;
    }

    &:nth-child(5) {
      width: 100vw;
    }

    &:hover,
    &:active {
      .background {
        filter: blur(0);
      }
    }
  }
}
