@import '/src/variables.scss';

.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease;
  &:hover {
    .background {
      filter: blur(5px);
    }
  }

  .secondary {
    font-size: 12px;
  }

  .background {
    position: absolute;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: all 100ms ease;
  }

  &:hover {
    .linksWrapper {
      opacity: 1;
    }
  }

  .linksWrapper {
    z-index: 3;
    text-align: center;
    width: 100%;
    opacity: 0;

    .link {
      &:hover {
        background-color: $main;
        color: black;
        cursor: pointer;
      }
    }

    a {
      display: block;
      width: 100%;
      text-decoration: none;
    }
    p {
      background-color: black;
      color: $main;
      padding: 10px 20px;
      transition: all 200ms ease;
    }
  }
  .secondary {
    background-color: black;
    color: $main;
    padding: 10px 20px;
  }
}

@media (max-width: $md-screen) {
  .wrapper {
    .linksWrapper {
      opacity: 1;
    }

    .background {
      filter: blur(5px);
    }
  }
}
