@import '/src/variables.scss';

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  padding: 2rem;

  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .bold {
      font-weight: 600;
    }

    h1 {
      color: $main;
      font-size: 56px;
      font-weight: 600;
    }

    p {
      color: white;
      font-size: 20px;
    }
  }

  .formContainer {
    margin: auto 0;
    .form {
      display: grid;

      .name {
        grid-area: name;
      }

      .email {
        grid-area: email;
      }

      .subject {
        grid-area: subject;
      }

      .message {
        grid-area: message;
      }

      .sendBtnWrapper {
        grid-area: sendBtn;
        display: flex;
        justify-content: flex-end;

        padding-right: 0.6rem;
        margin-top: 0.6rem;
      }

      grid-template-areas:
        'name email'
        'subject subject'
        'message message'
        'message message'
        'sendBtn sendBtn';

      input,
      textarea {
        background-color: black;
        border: none;
        color: white;

        margin: 0.6rem;
        padding: 0.3rem;

        width: calc(100% - 0.6rem - 0.6rem);

        &:focus {
          color: $main;
        }
      }
    }

    .sendBtn {
      padding: 0.5rem 1rem;
      border: none;
      cursor: pointer;

      background-color: $main;
      transition: all 400ms ease;
      font-weight: 600;

      text-decoration: none;
      color: black;

      &:hover {
        background-color: $background;
        color: $main;
      }
    }
  }
}

@media (max-width: $md-screen) {
  .container {
    grid-template-columns: 1fr;
  }
}
