@import '/src/variables.scss';

* {
  margin: 0;
  padding: 0;
}

.home {
  background-color: rgb(25, 25, 25);
  margin-left: 10rem;
  max-width: calc(100vw - 10rem);
  color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}
