@import '/src/variables.scss';

* {
  margin: 0;
  padding: 0;
}

.home {
  background-color: $background;
  margin-left: 10rem;
  max-width: calc(100vw - 10rem);
  color: whitesmoke;
  min-height: 100vh;
  padding-left: 5rem;
  overflow: hidden;
}

.text {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  width: 100vw;
}
