@import '/src/variables.scss';

.desktopNavbar {
  background-color: black;
  width: 10rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoLink {
  width: 100%;
  height: 100px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.social {
  position: absolute;
  bottom: 20%;
  display: flex;
  width: 60%;

  cursor: pointer;

  justify-content: space-around;
  i {
    color: $gray;
    font-size: 1.5rem;
    transition: all 200ms ease;
    &:hover {
      color: $main;
    }
  }
}

.active {
  color: $main;
  text-decoration: none;
}

.link {
  color: $gray;
  text-decoration: none;
  transition: all 200ms ease;
  position: relative;

  &:hover {
    color: white;
  }
}

.hamButton {
  display: none;
}

@media (max-width: 1300px) {
  .hamButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;

    color: $main;
    z-index: 1;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 2rem;
  }

  .none {
    transition: all 300ms ease;
    right: -100vw;
  }

  .hide {
    z-index: -10;
  }

  .show {
    display: flex;
    right: 0;
  }

  .desktopNavbar {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: all 400ms ease;
    font-size: clamp(20px, 7vw, 30px);
  }

  .social {
    max-width: 200px;
  }
}
