@import '/src/variables.scss';

.body {
  background-color: $background;

  * {
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .container {
    margin-left: 10rem;
  }
}

@media (max-width: 768px) {
  .body {
    .container {
      margin-left: 0;
      overflow-x: hidden;
    }
  }
}
