@import '/src/variables.scss';

.link {
  padding-top: 1.5rem;
  display: block;
  text-decoration: none;
  color: $gray;
  transition: color ease-in 100ms;

  &:hover {
    color: white;
  }
}

.active {
  color: $main;
}
