@import '/src/variables.scss';

.container {
  position: fixed;
  height: 100vh;
  width: 10rem;
  background-color: black;

  display: grid;

  .logo {
    display: flex;
    justify-content: center;

    padding-top: 2rem;
    a {
      text-decoration: none;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin: 5px;
    }
  }
}

.hamButton {
  display: none;
}

@media (max-width: $md-screen) {
  .container {
    width: 100vw;
    left: calc(0px + 100vw);
    z-index: 1;
    transition: all 200ms ease;
  }

  .hamButton {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
