@import '/src/variables.scss';

* {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: 10rem;
  max-width: calc(100vw - 10rem);
  color: whitesmoke;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-x: hidden;
  position: relative;
}

@media (max-width: $lg-screen) and (min-width: $md-screen) {
  .container {
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
  }
}

@media (max-width: $md-screen) {
  .container {
    padding-left: 0;
    margin-left: 0;
    grid-template-columns: 1fr 1fr;
    max-width: 100vw;
  }

  .wrapper {
    width: 50vw;
    a {
      text-align: center;
      width: 100%;
      filter: blur(0);
    }
  }
}
