.app {
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  max-height: 100vh;
}

@media (max-width: 1300px) {
  .app {
    max-height: 200vh;
  }
}
