@import './variables.scss';

:root {
  --cursor-status: none;
}

.app {
  min-height: 100vh;
  background-color: $background;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  max-height: 100vh;
}

@media (max-width: 1300px) {
  .app {
    max-height: 200vh;
  }
}

* {
  cursor: var(--cursor-status);
}
