@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
// $main: #00ffff;
$main: #00ff00;
$background: rgb(15, 15, 15);
$gray: #a0a0a0;

$md-screen: 700px;
$lg-screen: 1300px;
