@import '../../variables.scss';

.cursor {
  position: fixed;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: $main;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2137;

  transform: scale(1.4);
  mix-blend-mode: difference;
  background: $main;
}

@media (max-width: $md-screen) {
  .cursor {
    display: none;
  }
}
