@import '../../variables.scss';

* {
  cursor: none;
}

.cursor {
  position: fixed;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: $main;
  transform: rotate(0deg) translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;

  transform: scale(1.4);
  mix-blend-mode: difference;
  background: $main;
}

@media (max-width: 1300px) {
  * {
    cursor: initial;
  }

  .cursor {
    display: none;
  }
}
