@import '/src/variables.scss';

.container {
  display: flex;
  max-width: 700px;
  padding-top: 3rem;
  margin: 0 auto;

  .description {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      color: $main;
      font-size: xx-large;
      text-decoration: none;
      line-height: 0.8;
    }

    p {
      color: white;
    }

    .tagWrapper {
      margin-top: 10px;
      bottom: 0;

      .tag {
        display: inline-block;
        background-color: $main;
        padding: 3px;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: $md-screen) {
  .container {
    img {
      width: 200px;
      height: 200px;
    }
  }
}
