@import '/src/variables.scss';

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: $background;
  margin-left: 10rem;
  max-width: calc(100vw - 10rem);
  color: whitesmoke;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  max-height: 100vh;
  padding-left: 5rem;

  .head {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 1.5rem;
    }
  }

  .headerWrapper {
    padding-bottom: 20%;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    i {
      color: $main;
    }

    a {
      text-decoration: none;
      color: whitesmoke;
    }
  }
}

.header {
  color: $main;
  font-size: 4vw;
}

@media (max-width: 1300px) {
  .container {
    margin: 0;
    padding: 20px;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-height: 200vh;
  }

  .header {
    font-size: clamp(20px, 10vw, 80px);
  }

  .head {
    padding-bottom: 30%;

    p {
      font-size: clamp(16px, 4vw, 28px) !important;
    }
  }

  .info {
    text-align: left;
  }

  .headerWrapper {
    padding-top: 40px;

    padding-bottom: 10% !important;
  }
}
